body {
	font-family: sans-serif;
	font-size: 13px;
	line-height: 1.4;
	color: #252523;
}

a,a:hover,a:active {
	color: #00ba84;
}

.header {
	background: #0dc590;
	margin-bottom: 30px;
	min-width: 960px;
	padding-top: 29px;
}

.header>nav[role=navigation] {
	padding-left: 0;
}

.navbar {
	position: relative;
	margin-bottom: 0;
}

.navbar ul.inline {
	margin-bottom: 0;
}

ul.inline>li {
	vertical-align: bottom;
}

.navtab {
	-webkit-border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	-ms-border-radius: 7px 7px 0 0;
	-o-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
	color: #fff;
	background: 0;
	border: 0;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 17px;
	padding: 16px 20px 12px;
	position: relative;
	display: inline-block;
	outline: 0;
	line-height: 17px;
}

.navtab:hover {
	background-color: #1fdba5;
	text-decoration: none;
	color: #fff;
}

.navtab.active {
	background: #fff;
	color: #00ba84;
}

.navbar-profile-wrap {
	position: absolute;
	right: 0;
	bottom: 0;
}

.navbar-profile {
	display: inline-block;
	position: relative;
	cursor: pointer;
	line-height: 1.5em;
	padding: 9px 0 0;
	vertical-align: top;
}

.navbar-username {
	font-weight: 700;
	border-radius: 4px;
	padding: 6px 14px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	color: #FFF;
	line-height: 1em;
	margin-right: 5px;
}

.navbar-username:hover,.navbar-username:focus {
	color: #FFF;
	text-decoration: none;
	background-color: #14e1a6;
}

.navbar-username .caret {
	margin-left: 5px;
	vertical-align: baseline;
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
	background-color: #0dc590;
	background-image: linear-gradient(to bottom, #0dc590, #0dc590);
}

ul.navbar-icons>li {
	padding: 0;
}

.dropdown-menu>li {
	white-space: nowrap;
	background: #f7f7f5;
	border-bottom: 1px solid #d4d4d0;
}

.nav-icon {
	width: 38px;
	height: 44px;
	margin: 0;
	outline: 0;
	position: relative;
	-webkit-border-radius: 7px 7px 0 0;
	-moz-border-radius: 7px 7px 0 0;
	-ms-border-radius: 7px 7px 0 0;
	-o-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
	vertical-align: bottom;
	display: inline-block;
}

.nav-icon:hover {
	background-color: #1fdba5;
}

.nav-icon:after {
	left: 9px;
	position: absolute;
	top: 10px;
	display: inline-block;
	content: "";
	width: 20px;
	height: 20px;
	background-size: 19px 19px;
	background-repeat: no-repeat;
}

.nav-icon-mail:after {
	background-image: url("../img/icons/mail.png");
}

.nav-icon-notification:after {
	background-image: url("../img/icons/notification.png");
}

.nav-icon-setting:after {
	background-image: url("../img/icons/setting.png");
}

.nav-icon-help:after {
	background-image: url("../img/icons/help.png");
}

.nav-tab-panel {
	border: 0;
	background: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.subnavbar {
	margin: 0;
	padding-right: 1px;
}

.subnavbar>li {
	display: inline-block;
	line-height: 1em;
	padding: 18px 0 18px 30px;
	position: relative;
}

.subnavbar>li:first-child {
	padding-left: 11px;
}

.subnavbar a {
	outline: 0;
	color: #949492;
}

.nav-link {
	font-family: sans-serif;
	font-weight: 400;
}

.subnavbar a:hover {
	text-decoration: none;
	color: #616160;
}

.subnavbar>.active a {
	color: #252523;
}

.subnavbar>.active:before {
	content: "";
	display: inline-block;
	background: #FFF;
	bottom: 0;
	height: 10px;
	left: 50%;
	margin-left: 8px;
	position: absolute;
	width: 20px;
	z-index: 1;
}

.subnavbar>.active:after {
	content: "";
	display: inline-block;
	background: #FFF;
	bottom: -5px;
	left: 50%;
	height: 10px;
	width: 9px;
	margin-left: 14px;
	position: absolute;
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.28);
	-moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .28);
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.28);
	-webkit-transform: rotate(56deg) skew(0deg, -20deg);
	-moz-transform: rotate(56deg) skew(0deg, -20deg);
	-ms-transform: rotate(56deg) skew(0deg, -20deg);
	-o-transform: rotate(56deg) skew(0deg, -20deg);
	transform: rotate(56deg) skew(0deg, -20deg);
}

.footer {
	height: 55px;
	background-color: #525252;
	text-align: center;
	margin-top: 29px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.footer .support-info {
	color: #FFF;
	margin: 20px auto 0;
	line-height: 16px;
	font-weight: 400;
	font-size: 11px;
}

.btn.btn-primary {
	background-image: none;
	background-color: #02B684;
	-moz-transition: background-color .35s linear;
	-webkit-transition: background-color .35s linear;
	transition: background-color .35s linear;
}

.btn.btn-primary:hover {
	background-color: #00c48b;
	-moz-transition: background-color .15s linear;
	-webkit-transition: background-color .15s linear;
	transition: background-color .15s linear
}

.btn.btn-primary:active {
	background-color: #00b27f;
	-moz-transition: background-color 0 linear;
	-webkit-transition: background-color 0 linear;
	transition: background-color 0 linear;
	box-shadow: 0 1px 0 rgba(120, 255, 216, 0.2), 0 2px 1px
		rgba(5, 70, 58, 0.12) inset;
}

/*============ view test ==============*/
.test-detail {
	margin: 10px 0;
	cursor: pointer;
}

.test-detail .test-name {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 20px;
}

.test-detail .subtitle {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	font-size: 16px;
	margin-bottom: 24px;
	font-weight: 300;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smoothing: auto;
	padding: 9px 10px;
	background: #f2f2f0;
}

.test-detail .desc-table tr {
	height: 15px;
}

.test-detail .desc-table>tbody>tr>th,.test-detail .desc-table>tbody>tr>td
	{
	padding: 8px 0;
	line-height: 19px;
	vertical-align: middle;
}

.test-detail .desc-table>tbody>tr>th {
	text-align: left;
	width: 145px;
	font-weight: 400;
	padding-right: 1em;
	vertical-align: text-top;
	white-space: nowrap;
	color: #8C8C89;
}

.test-detail .desc-table>tbody>tr>td {
	color: #40403c;
	text-align: left;
}

/*============= test page ==============*/
.time-wrap {
	margin: 25px 0;
}
.question-form-body label{
	margin-bottom: 12px;
}
.question-form-body .alias{
	font-weight: bold;
	display:inline-block;
	margin-right: 10px;
}
.question-form-body .alias:after{
	content: ')';
}

/*============= test result ============*/
table.information tr td {
	padding: 4px;
	line-height: 20px;
}