iframe,svg {
	max-width: 100%;
}

.nowrap {
	white-space: nowrap;
}

.clearover {
	overflow: hidden;
}

.left {
	float: left;
}

.center,.table td.center,.table th.center {
	text-align: center;
}

.right {
	float: right;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.highlight {
	background: #ff0;
}

.text-red,.text-red:hover {
	color: red;
}

.text-white {
	color: #ffffff;
}

.text-yellow {
	color: yellow;
}

.text-blue {
	color: blue;
}

.small {
	font-size: 11px;
}

a.disabled,a.disabled:hover {
	color: #999999;
	background-color: transparent;
	cursor: default;
	text-decoration: none;
}

.btn .caret {
	margin-bottom: 7px;
}

body.modal {
	padding-top: 0;
}

.row-even,.row-odd {
	padding: 5px;
	width: 99%;
	border-bottom: 1px solid #ddd;
}

.row-even .small,.row-odd .small,.row-even .small a,.row-odd .small a {
	color: #888;
}

.row-odd {
	background-color: transparent;
}

.row-even {
	background-color: #f9f9f9;
}
.star{
	color: red;
	font-weight: bold;
}
